.additional-goods {
  padding: 0 20px;
}

.additional-goods__title {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.additional-goods__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.additional-goods__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 17px;
  border-top: 1px solid $border-color;
}

.additional-goods__item:last-child {
  border-bottom: 1px solid $border-color;
}

.additional-goods__name {
  font-size: 16px;
  line-height: 16px;
  color: $black-alt;
  text-transform: uppercase;
}

.additional-goods__table {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font-alt;
  line-height: 14px;
  color: $dark-grey;

  tr {
    display: flex;
    justify-content: space-between;
  }
}

.additional-goods__link {
  margin-top: 15px;
  background-color: $green;
  color: #ffffff;
}

.additional-goods__buy-all {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 39px;
  min-height: 289px;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}

@media (min-width: $tablet) {
  .additional-goods__item {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 28px 38px;
    border: 1px solid $border-color-alt;
  }

  .additional-goods__title {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__name {
    margin: 0;
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__table {
    width: 50%;
    font-size: 16px;
    line-height: 20px;

    tr {
      justify-content: flex-end;
    }

    td:first-child {
      margin-right: 50px;
    }
  }

  .additional-goods__link {
    flex-grow: 1;
    margin-top: 25px;
  }

  .additional-goods__buy-all {
    flex-direction: row;
    min-height: 200px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
    background-position: center center;
  }
}
