.additional-goods {
  position: relative;
  padding-top: 29px;
  margin-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    height: 3px;
    width: 800px;
    background-color: $green;
  }
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 33px;
  padding-right: 22px;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  background-color: #ffffff;
}

.additional-goods__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
  margin-bottom: 39px;
}

.additional-goods__item {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 17px;
  border-top: 1px solid $border-color;

  &:last-child {
    border-bottom: 1px solid $border-color;
  }
}

.additional-goods__inner {
  margin-bottom: 14px;
}

.additional-goods__name {
  margin: 0;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 16px;
  color: $black-alt;
  text-transform: uppercase;
}

.additional-goods__table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  font-family: $font-alt;
  line-height: 14px;
  color: $dark-grey;

  tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  td {
    display: flex;
  }
}

.additional-goods__link {
  padding: 10px;
  background-color: $green;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.additional-goods__buy-all {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 289px; // из-за IE
  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;

  @media (min-resolution: $retina) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
    background-size: 280px;
  }
}

@media (min-width: $tablet) {
  .additional-goods {
    padding: 66px 30px 41px;

    &::before {
      top: 88px;
      margin-left: -50%;
      width: 1400px;
      background-color: $green;
    }
  }

  .additional-goods__title {
    margin-bottom: 81px;
    padding-left: 37px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__list {
    margin-bottom: 69px;
  }

  .additional-goods__item {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 28px 37px;
    padding-top: 24px;
    border: 1px solid $border-color-alt;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .additional-goods__inner {
    display: flex;
    margin-bottom: 0;
    min-height: 46px;
  }

  .additional-goods__name {
    margin: 0;
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__table {
    margin: 0;
    width: 50%;
    font-size: 16px;
    line-height: 20px;

    tr {
      justify-content: flex-end;
      width: auto;
    }

    td {
      display: block;
      padding-top: 3px;
      width: 134px;
      text-align: right;

      &:last-child {
        width: 30%;
      }
    }
  }

  .additional-goods__link {
    flex-grow: 1;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__buy-all {
    margin-top: 0;
    flex-direction: row;
    height: 200px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
      background-size: 708px;
    }
  }
}

@media (min-width: $desktop) {
  .additional-goods {
    margin-bottom: 86px;
    padding: 0 110px;

    &::before {
      top: 23px;
      width: 4000px;
    }
  }

  .additional-goods__title {
    margin-left: -41px;
    margin-bottom: 81px;
    padding-left: 40px;
  }

  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-goods__list {
    margin-bottom: 0;
  }

  .additional-goods__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    padding-bottom: 15px;
    border-left: none;
    border-right: none;
  }

  .additional-goods__inner {
    min-height: auto;
  }

  .additional-goods__name {
    margin: 0;
    width: 258px;
  }

  .additional-goods__table {
    margin-left: 66px;
    width: 285px;

    tr {
      justify-content: flex-start;
    }

    td {
      flex-grow: 1;

      &:first-child {
        text-align: left;
      }
    }
  }

  .additional-goods__link {
    flex-grow: 0;
    margin: 0;
    margin-left: 41px;
    width: 245px;
  }

  .additional-goods__buy-all {
    flex-direction: column-reverse;
    margin-top: 0;
    width: 245px;
    height: 289px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
      background-size: 245px;
    }
  }
}
