.additionals {
  padding-top: 10px;
}

.additionals__wrapper {
  padding: 12px 0;
}

.additionals__label {
  position: relative;
  margin-left: 45px;

  &::before {
    content: "";
    position: absolute;
    left: -44px;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #cecece;
    background-repeat: no-repeat;
  }
}

.form__input--checkbox:checked + label::before {
  background-image: url("../img/icon-tick.svg");
}

@media (min-width: $tablet) {
  .additionals {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .additionals__wrapper {
    margin-bottom: 40px;
    width: 50%;
  }
}
