.advantages {
  padding-top: 16px;
  padding-bottom: 47px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px;
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px;
    }
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px;
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px;
    }
  }

  &:last-child {
    margin: 0;
  }
}

.advantages__text {
  position: relative;
  margin: 0;
  font-family: $font-alt;
  color: $dark-grey;
  z-index: 100;
}

.advantages__line-break {
  display: none;
}

@media (min-width: $tablet) {
  .advantages {
    padding-top: 0;
    padding-bottom: 0;
  }

  .advantages__title {
    margin-bottom: 74px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: list;
  }

  .advantages__item {
    padding: 0;
    padding-top: 111px;
    margin: 0;
    margin-bottom: 87px;
    width: 324px;
    min-height: 230px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &:nth-child(2n-1) {
      margin-bottom: 54px;
    }

    &::after {
      position: absolute;
      counter-increment: list;
      content: counter(list);
      top: 90px;
      left: 116px;
      color: $bg-grey;
      font-size: 281px;
    }
  }

  .advantages__text {
    width: 260px;
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__line-break {
    display: block;
  }
}

@media (min-width: $desktop) {
  .advantages {
    padding-top: 74px;
    padding-bottom: 126px;
  }

  .advantages__item {
    width: 244px;
  }

  .advantages__title {
    margin-bottom: 74px;
  }
}
