.button {
  display: block;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
