.button {
  display: block;
  padding: 11px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  word-break: break-word;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $green-hvr;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
