.buy-all__text {
  margin: 0;
  width: 160px;
  margin-bottom: 43px;
  font-family: $font-alt;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.additionals__line-break {
  display: none;
}

@media (min-width: $tablet) {
  .buy-all__text {
    margin: 0;
    margin-right: 125px;
    margin-left: auto;
    width: 165px;
    text-align: left;
  }

  .additionals__line-break {
    display: block;
  }
}
