.contacts {
  position: relative;
}

.contacts__inner {
  &:not(.contacts__inner--index) {
    background-color: $bg-grey;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  padding-bottom: 23px;
}

.contacts__slogan {
  margin: 0;
  padding-right: 10px;
  max-width: 180px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.contacts__address {
  width: 186px;
  font-family: $font-alt;
  font-style: normal;
  line-height: 20px;
  color: $dark-grey;
}

.contacts__map iframe {
  width: 100%;
  border: none;
}

.contacts__container {
  position: relative;
  height: 362px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -46px;
    width: 64px;
    height: 64px;

    background-image: url("../../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.contacts__map--static {
  width: 100%;
}

@media (min-width: $tablet) {
  .contacts__wrapper {
    display: flex;
    padding: 60px 70px 61px;

    &--catalog-page,
    &--form-page {
      padding: 64px 70px 62px;
    }
  }

  .contacts__slogan {
    max-width: 170px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    width: 155px;
    font-size: 16px;
    text-align: right;
  }

  .contacts__map iframe,
  .contacts__container {
    height: 396px;
  }

  .contacts__container {
    &::before {
      width: 124px;
      height: 124px;
      margin-left: -62px;
      margin-top: -62px;
    }
  }
}

@media (min-width: $desktop) {
  .contacts__inner {
    position: relative;
    top: 92px;
    left: calc(50% - 720px + 111px);
    margin-bottom: 202px;
    width: 570px;
    z-index: 1;
  }

  .contacts__wrapper {
    margin: 0;
    padding-top: 69px;
    padding-left: 75px;
    padding-bottom: 59px;
    width: 570px;
    background: #ffffff;

    &--inner-page {
      margin: 0;
    }

    &--catalog-page {
      padding-top: 70px;
    }
  }

  .contacts__address {
    width: 175px;
    text-align: left;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .contacts__map iframe,
  .contacts__container {
    height: 400px;
  }

  .contacts__container {
    &::before {
      left: 71.5%;
      top: 45%;
      width: 120px;
      height: 120px;
      margin-left: -32px;
      margin-top: -57px;
    }
  }
}
