.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights__link {
  color: $dark-grey;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-alt;
  text-decoration: none;
}
