.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights__link {
  color: $dark-grey;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-alt;
  text-decoration: none;

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyrights__logo {
  position: relative;
  width: 42px;
  height: 46px;
  margin-right: -7px;

  &:hover .copyrights__image {
    fill: $green;
  }

  .copyrights__image {
    width: 100%;
    height: 100%;
    fill: $dark-grey;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    @include ie-active-fix;
  }
}

@media (min-width: $tablet) {
  .copyrights__link {
    margin-right: 15px;
  }
}
