.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights__link {
  color: $dark-grey;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-alt;
  text-decoration: none;
}

.copyrights__logo {
  svg {
    width: 50px;
    height: 50px;
  }

  path {
    fill: $dark-grey;
  }
}

@media (min-width: $tablet) {
  .copyrights__link {
    margin-right: 23px;
  }
}
