.example {
  padding-top: 16px;
  padding-bottom: 25px;
  background-color: $bg-grey;
}

.example__info {
  margin-bottom: 34px;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.example__text {
  margin: 0;
  margin-bottom: 13px;
  padding-right: 5px;
  font-family: $font-alt;
  color: $dark-grey;
}

.example__stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;

  dl {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 15px 0;
    width: 124px;
    height: 56px;
    font-size: 12px;
    line-height: 12px;
    color: $dark-grey;
    border: 1px solid $input-border;
  }

  dt {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
    color: $black;
    text-align: center;
    text-transform: uppercase;
  }

  dd {
    margin: 0;
    padding: 0 15px;
    width: 87px;
    background-color: $bg-grey;
    font-family: $font-alt;
    text-align: center;
  }
}

.example__price {
  margin: 0;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__wrapper {
  margin-bottom: 34px;
}

@media (min-width: $tablet) {
  .example {
    padding-top: 43px;
    padding-bottom: 0;
    margin-bottom: 7px;
    border-top: 1px solid $border-color;
    background-color: #ffffff;
  }

  .example__inner {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .example__info {
    margin: 0 auto;
    padding: 0 30px;
    width: 768px;
    margin-bottom: 243px;
  }

  .example__title {
    margin-bottom: 64px;
    font-size: 60px;
  }

  .example__text {
    margin-bottom: 41px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .example__stats {
    margin: 0;

    dl {
      margin-right: 42px;
      padding-top: 16px;
      width: 162px;
      height: 72px;
    }

    dt {
      font-size: 30px;
      line-height: 37px;
    }

    dd {
      bottom: -6px;
      width: auto;
      padding: 0 5px;
      font-size: 14px;
      line-height: 14px;
      background-color: #ffffff;
    }
  }

  .example__price {
    margin: 0;
    width: 180px;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
  }

  .example__slider {
    background-color: $bg-grey;
  }
}

@media (min-width: $desktop) {
  .example {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 73px;
    border: none;
    background-color: $bg-grey;
  }

  .example__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    width: 1440px;
  }

  .example__info {
    padding: 0;
    margin: 0;
    width: 463px;
  }

  .example__title {
    margin-top: -134px;
    margin-bottom: 142px;
  }

  .example__text {
    margin-top: 0;
    margin-bottom: 57px;
    padding-right: 25px;
  }

  .example__wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .example__stats {
    margin-bottom: 46px;

    dd {
      background-color: $bg-grey;
    }
  }

  .example__price {
    display: flex;
    justify-content: space-between;
    width: 325px;
    margin: 0;
    text-align: left;
  }
}
