.example {
  padding: 20px 0;
  background-color: $bg-grey;
}

.example__info {
  padding: 0 20px;
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.example__text {
  font-family: $font-alt;
  color: $dark-grey;
}

.example__stats {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;

  dl {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 56px;
    font-size: 12px;
    line-height: 12px;
    color: $dark-grey;
    border: 1px solid $border-color-alt;
  }

  dt {
    font-size: 24px;
    line-height: 24px;
    color: $black;
    text-align: center;
  }

  dd {
    position: absolute;
    bottom: -15px;
    display: block;
    width: 87px;
    margin: 0;
    padding: 0 15px;
    background-color: $bg-grey;
    font-family: $font-alt;
    text-align: center;
  }
}

.example__price {
  margin-top: 30px;
  line-height: 20px;
  text-align: center;
}

.example__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}
