.form-page__text {
  padding-right: 50px;
  margin: 0;
  width: 300px;
  text-transform: uppercase;
}

.form-page__wrapper {
  padding-top: 25px;
  margin-bottom: 30px;
}

.form-page__form {
  padding-top: 40px;
}

@media (min-width: $tablet) {
  .form-page__wrapper {
    padding-top: 56px;
    padding-right: 67px;
    padding-bottom: 0;
    padding-left: 70px;
  }

  .form-page__text {
    padding: 0;
    width: 330px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-page__form {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop) {
  .form-page__wrapper {
    padding: 0 110px;
    padding-top: 54px;
  }

  .form-page__form {
    margin-bottom: 62px;
    padding-top: 66px;
  }
}
