.form__field {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid $border-color;
}

.form__wrapper {
  display: flex;
  padding: 10px 0;
}

.form__label {
  font-size: 16px;
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: $green;
}

.form__caption {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: $dark-grey;
}
