.form__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid $border-color;
  font-size: 16px;
  color: $black-alt;
}

.form__wrapper {
  display: flex;
  padding: 10px 0;
}

.form__input {
  margin: 0;
  padding: 0;

  &--radio,
  &--checkbox {
    margin-right: 15px;
  }
}

.form__label {
  text-transform: uppercase;
}

.user-data__label,
.user-contacts__label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.user-data__input,
.user-contacts__input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 15px;
  height: 45px;
  border: 1px solid $input-border;
}

.user-data__input::placeholder,
.user-contacts__input::placeholder,
.user-comment__textarea {
  font-family: $font-regular;
  font-size: 16px;
  color: $dark-grey;
  text-transform: uppercase;
}

.user-comment__textarea {
  margin: 0;
  padding-left: 16px;
  padding-top: 12px;
  min-height: 150px;
  border: 1px solid $input-border;
  resize: none;
}

.form__legend {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 24px;
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: $green;
}

.form__caption {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: $dark-grey;
  line-height: 16px;
}

@media (min-width: $tablet) {
  .form__field {
    border: none;
    font-size: 20px;
    line-height: 20px;
  }

  .user-data__input::placeholder,
  .user-contacts__input::placeholder,
  .user-comment__textarea {
    font-size: 20px;
  }

  .user-target {
    padding-top: 25px;
    padding-left: 25px;
    border: 1px solid $border-color-alt;
  }

  .form__button {
    display: inline-block;
    width: 280px;
  }

  .form__caption {
    display: inline-block;
    margin-left: 60px;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop) {
  .form__field {
    padding: 0;
  }

  .user-target {
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 25px;
  }

  .form__legend {
    margin: 70px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form-field__wrapper {
    display: flex;
    justify-content: space-between;

    .form__field {
      width: 570px;
    }
  }

  .form__wrapper {
    padding: 0;
    padding-bottom: 20px;
  }

  .user-contacts {
    flex-direction: row;
    justify-content: space-between;

    .form__wrapper {
      width: 570px;
      padding: 0;
    }
  }
}
