.form__field {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 8px 20px 9px;
  border: none;
  border-bottom: 1px solid $border-color;
  font-size: 16px;
  color: $black-alt;

  &--contacts,
  &--comment {
    border: none;
  }

  &--target {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  &--additionals {
    padding-top: 10px;
  }
}

.form__wrapper {
  display: flex;
  margin-bottom: 14px;

  &--target {
    margin: 0;
    padding: 12px 0;
  }

  &--additionals {
    margin-bottom: 1px;
    padding: 12px 0;
  }
}

.form__legend {
  display: block;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 24px;

  &--contacts {
    padding-top: 28px;
  }

  &--comment {
    padding-top: 6px;
    margin-bottom: 26px;
  }

  &--additionals {
    margin-bottom: 18px;
    padding-top: 19px;
  }
}

.form__input {
  margin: 0;
  padding: 0;

  &--data,
  &--contacts {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 15px;
    width: 171px;
    height: 45px;
    border: 1px solid $input-border;

    &::placeholder {
      font-family: $font-regular;
      font-size: 16px;
      color: $dark-grey;
      text-transform: uppercase;
    }
  }

  &--comment {
    margin: 0;
    padding-left: 16px;
    padding-top: 12px;
    width: 100%;
    min-height: 150px;
    border: 1px solid $input-border;
    resize: none;
    text-transform: uppercase;
  }

  &--radio,
  &--checkbox {
    display: none;
  }
}

.form__input--radio:checked + label::after {
  opacity: 1;
}

.form__label {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  &--data {
    margin-right: 15px;
  }

  &--target {
    position: relative;
    margin-left: 45px;

    &::before {
      content: "";
      position: absolute;
      left: -45px;
      top: -7px;
      width: 30px;
      height: 30px;
      border: 1px solid #cecece;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      left: -36px;
      top: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $green;
      opacity: 0;
    }
  }

  &--contacts {
    margin-right: 10px;
  }

  &--additionals {
    position: relative;
    margin-left: 45px;

    &::before {
      content: "";
      position: absolute;
      left: -44px;
      top: -5px;
      width: 30px;
      height: 30px;
      border: 1px solid #cecece;
      background-repeat: no-repeat;
    }
  }
}

.form__input--checkbox:checked + label::before {
  background-image: url("../img/icon-tick.svg");
}

.form__button {
  margin: 0 auto;
  margin-top: 16px;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: $green;
}

.form__caption {
  display: block;
  margin-top: 22px;
  font-family: $font-alt;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $dark-grey;
}

@media (min-width: $tablet) {
  .form__field {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 20px;
    line-height: 20px;

    &--data {
      padding: 34px 0;
      padding-bottom: 52px;
    }

    &--target {
      padding-top: 34px;
      padding-left: 25px;
      border: 1px solid $border-color-alt;
    }
  }

  .form__wrapper {
    margin-bottom: 20px;
    padding-left: 1px;

    &--target {
      padding: 0;
      margin-bottom: 33px;
    }
  }

  .form__input {
    height: 52px;
  }

  .form__label {
    &--data {
      margin-right: 18px;
    }

    &--target {
      margin-left: 62px;
    }
  }

  .form__button {
    display: inline-block;
    width: 280px;
  }

  .form__caption {
    display: inline-block;
    margin-left: 60px;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop) {
  .form__field {
    padding: 0;
  }

  .user-target {
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 25px;
  }

  .form__legend {
    margin: 70px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form-field__wrapper {
    display: flex;
    justify-content: space-between;

    .form__field {
      width: 570px;
    }
  }

  .form__wrapper {
    padding: 0;
    padding-bottom: 20px;
  }

  .user-contacts {
    flex-direction: row;
    justify-content: space-between;

    .form__wrapper {
      width: 570px;
      padding: 0;
    }
  }
}
