.inner-page {
  padding-top: 12px;
}

.inner-page__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
  // letter-spacing: -1px; // в Edge не влезает в одну строку
}

@media (min-width: $tablet) {
  .inner-page {
    padding-top: 27px;
  }

  .inner-page__title {
    font-size: 60px;
    line-height: 60px;
  }

  .inner-page__title-wrapper {
    &--catalog-page {
      margin-bottom: 166px;
    }

    &--form-page {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $desktop) {
  .inner-page {
    padding-top: 67px;
  }

  .inner-page__title-wrapper {
    &--catalog-page {
      margin-bottom: 0;
    }
  }
}
