.page-header {
  position: relative;
  min-height: 65px;
  z-index: 100;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 20px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop) {
  .page-header__wrapper {
    margin-top: 40px;
    padding: 0 110px;
  }
}
