.page-footer {
  padding: 0 20px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-footer__socials {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.page-footer__copyrights {
  margin: 20px 0;
}

@media (min-width: $tablet) {
  .page-footer {
    padding: 0 30px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }

  .page-footer__socials {
    border: none;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    padding: 0 110px;
  }
}
