.page-header {
  &:not(.page-header--index-page) .page-header__logo {
    position: relative;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &::before {
      @include ie-active-fix;
    }
  }
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-header__logo {
  display: flex;
  align-items: center;
  min-height: 65px;
  max-width: fit-content;

  img {
    height: auto;
  }
}

@media (min-width: $tablet) {
  .page-header {
    margin-bottom: 23px;
  }

  .page-header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
  }

  .page-header__logo {
    padding: 0;
    width: 174px;
  }
}

@media (min-width: $desktop) {
  .page-header {
    margin-bottom: 0;

    &--index-page::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      background-color: $green;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-resolution: $retina) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .page-header__inner {
    padding-top: 53px;
  }

  .page-header__logo {
    width: 203px;
  }

  .page-header__image {
    width: 203px;
    height: 60px;
  }
}
