.page-footer {
  padding-top: 39px;
  background-color: $bg-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::before {
    @include ie-active-fix;
  }
}

.page-footer__socials {
  padding: 0 60px;
  border-top: 1px solid $border-color-alt;
  border-bottom: 1px solid $border-color-alt;
}

.page-footer__copyrights {
  min-height: 80px;
}

@media (min-width: $tablet) {
  .page-footer {
    padding: 0;
    background-color: #ffffff;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 144px;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
  }

  .page-footer__socials {
    border: none;
    padding: 0 55px;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    display: flex;
  }

  .page-footer__wrapper {
    padding: 0 110px;
  }

  .page-footer__copyrights {
    min-height: auto;
  }
}
