.products {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 29px;
}

.products__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-bottom: 24px;
  border-top: 1px solid $border-color;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 144px;
}

.products__info {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  min-width: 140px;
}

.products__title {
  display: flex;
  margin-bottom: 9px;
  width: 99px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.products__table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-alt;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  td:last-child {
    text-align: right;
  }
}

.products__button {
  padding: 10px;
  color: #ffffff;
  background-color: $green;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .products {
    padding: 0 30px;
  }

  .products__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .products__item {
    justify-content: space-between;
    margin: 0;
    padding: 40px 37px;
    width: 324px;
    max-height: 431px;
    border: none;
    background-color: $bg-grey;

    &:nth-child(2n) {
      margin-bottom: 140px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .products__wrapper {
    flex-direction: column;
    align-items: center;
    max-height: none;
  }

  .products__info {
    margin-bottom: 35px;
    padding: 0;
    width: 100%;
  }

  .products__link {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -112px;
    margin-bottom: 34px;
    height: 200px;
    width: 320px;
  }

  .products__title {
    align-self: center;
    margin-bottom: 21px;
    width: 140px;

    h3 {
      text-align: center;
      font-size: 20px;
      line-height: 20px;
    }
  }

  .products__table {
    font-size: 16px;
    line-height: 16px;

    td {
      padding: 7px 0;
      border-bottom: 1px solid $input-border;

      &:last-child {
        text-align: right;
      }
    }
  }

  .products__button {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .products {
    padding: 0 110px;
    padding-top: 22px;
    margin-bottom: 74px;
  }

  .products__item {
    margin-top: 143px;
    width: 245px;

    &:nth-child(2n) {
      margin-bottom: 0;
    }
  }

  .products__link {
    width: 245px;
  }

  .products__table {
    width: 169px;
  }
}
