.promo {
  position: relative;
  padding-bottom: 22px;
}

.promo__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 133px;
  padding-top: 27px;
  min-height: 305px;
  background-color: $green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: $retina) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    top: 164px;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-resolution: $retina) {
      background-image: url("../img/index-can-mobile@2x.png");
    }
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.promo__slogan {
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.promo__button {
  align-self: stretch;
  margin: 0 auto;
  width: 280px;
  background-color: $green;
  color: #ffffff;
}

@media (min-width: $tablet) {
  .promo {
    padding-left: 118px;
    min-height: 837px;
  }

  .promo__inner {
    align-items: flex-start;
    margin-bottom: 0;
    min-height: unset;
    background-image: none;
    background-color: transparent;

    &::after {
      top: 228px;
      right: 30px;
      width: 709px;
      height: 609px;
      background-image: url("../img/index-can-tablet@1x.jpg");

      @media (min-resolution: $retina) {
        background-image: url("../img/index-can-tablet@1x.jpg");
      }
    }
  }

  .promo__title {
    position: relative;
    margin-bottom: 41px;
    width: 420px;
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__slogan {
    position: relative;
    margin-bottom: 48px;
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    z-index: 10;
  }

  .promo__button {
    position: relative;
    margin: 0;
    padding: 16px 10px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .promo {
    margin: 0 auto;
    padding-top: 101px;
    padding-left: 119px;
    min-height: 655px;
    width: 1300px;
  }

  .promo__inner {
    margin: 0;
    padding: 0;

    &::after {
      top: -79px;
      right: 258px;
      width: 550px;
      background-image: url("../img/index-can-desktop@1x.png");

      @media (min-resolution: $retina) {
        background-image: url("../img/index-can-desktop@1x.png");
      }
    }
  }

  .promo__title {
    margin-bottom: 41px;
    width: 425px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }
}
