.series__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.series__item {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.series__title {
  margin-top: 28px;
  margin-left: 60px;
  font-size: 22px;
  line-height: 37.02px;
  text-transform: uppercase;
}

.series__description {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  color: #444444;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-bottom: 1px solid #e6e6e6;
}

.series__link {
  margin: 20px 0;
  color: #111111;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
