.series {
  padding: 0 20px;
}

.series__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.series__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  padding-left: 20px;
  padding-right: 25px;
  background-color: $bg-grey;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    margin-top: 24px;
    margin-left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    left: 10px;
    margin-top: 23px;
    margin-left: 20px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--gain::after {
    top: 11px;
    left: -7px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.series__title {
  margin-top: 30px;
  margin-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
}

.series__description {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-color-alt;
  color: $dark-grey;
  font-family: $font-alt;
}

.series__link {
  position: relative;
  margin: 21px 0;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    left: 96px;
    top: 2px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet) {
  .series {
    padding: 0 30px;
  }

  .series__item {
    margin-top: 30px;
    padding-left: 53px;
    padding-right: 280px;

    &:first-child {
      margin-top: 0;
    }

    &--gain {
      padding-right: 311px;
    }
  }

  .series__title {
    margin-left: 0;
    margin-top: 78px;
    margin-bottom: 17px;
    font-size: 36px;
    line-height: 37px;
  }

  .series__description {
    border: none;
    font-size: 16px;
    line-height: 24px;
  }

  .series__link {
    margin-bottom: 61px;
    margin-top: 38px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      left: 129px;
      top: 4px;
    }
  }
}

@media (min-width: $desktop) {
  .series {
    padding: 0 110px;
  }

  .series__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .series__item {
    max-width: 570px;
    margin: 0;
    padding-right: 50px;
  }

  .series__title {
    margin-left: 110px;
  }
}
