.series__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include list-reset;
}

.series__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  padding: 31px 20px 22px;
  background-color: $bg-grey;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--gain::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.series__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
}

.series__description {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid $border-color-series;
  color: $dark-grey;
  font-family: $font-alt;
}

.series__link {
  position: relative;
  align-self: flex-start;
  min-width: 125px;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 4px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .series {
    margin-bottom: 46px;
  }

  .series__item {
    padding: 76px 280px 61px 53px;
    margin-bottom: 31px;

    &--gain {
      padding-right: 311px;
    }

    &::before {
      width: 200px;
      height: 200px;
      left: 447px;
      top: 92px;
    }

    &::after {
      top: 80px;
      left: 476px;
      width: 141px;
      height: 194px;
    }

    &--gain::after {
      top: 133px;
      left: 412px;
      width: 268px;
      height: 113px;
    }
  }

  .series__title {
    margin-bottom: 25px;
    padding: 0;
    font-size: 36px;
    line-height: 37px;
  }

  .series__description {
    margin-bottom: 56px;
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }

  .series__link {
    min-width: 157px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 5px;
    }
  }
}

@media (min-width: $desktop) {
  .series {
    margin-bottom: 0;
  }

  .series__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .series__item {
    width: 570px;
    margin: 0;
    padding: 76px 52px 62px;

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: 41px;
      left: 65px;
      width: 71px;
      height: 97px;
    }

    &--gain::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 57px;
    }
  }

  .series__title {
    padding-left: 161px;
    margin-bottom: 72px;
  }

  .series__description {
    margin-bottom: 31px;
  }

  .series__link {
    &:hover,
    &:focus {
      &::after {
        width: 34px;
        right: -6px;
        background-image: url("../img/icon-right-arrow-verylong.svg");
      }
    }
  }
}
