.show-all {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  min-height: 210px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-color;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    top: 40px;
    content: "";
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::after {
    transform: rotate(90deg);
  }
}

.show-all__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-all__text {
  margin: 0;
  margin-bottom: 4px;
  color: $dark-grey;
  font-family: $font-alt;
  font-size: 12px;
  line-height: 16px;
}

.show-all__button {
  align-self: stretch;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
  background-color: $bg-grey;
}

@media (min-width: $tablet) {
  .show-all {
    justify-content: flex-start;
    padding: 40px;
    border: 1px solid $border-color;
    background-color: #ffffff;

    &::before,
    &::after {
      top: 83px;
      width: 59px;
      margin-left: -28px;
    }
  }

  .show-all__title {
    margin-top: 124px;
    margin-bottom: 27px;
    max-width: 150px;
    font-size: 20px;
    text-align: center;
  }

  .show-all__text {
    margin: 0;
    margin-bottom: 73px;
    max-width: 170px;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: $desktop) {
  .show-all__text {
    width: 170px;
  }
}
