.slider__item {
  position: absolute;
  width: 100%;
  min-height: 232px;

  &--hidden {
    display: none;
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 261px;
  font-size: 16px;
  line-height: 20px;
}

.slider__range {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 5px;
  margin-left: 11px;
  padding: 0 4px;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  background-color: #ffffff;
}

.range__button {
  position: absolute;
  width: 40px;
  height: 6px;
  border: none;
  border-radius: 7px;
  background: $green;
}

@media (min-width: $tablet) {
  .slider__item {
    top: -169px;
    left: 6px;
    display: flex;
    justify-content: center;
  }

  .slider__controls {
    justify-content: space-between;
    align-self: center;
    width: 570px;
    margin-top: 365px;
    margin-bottom: 67px;
    font-size: 20px;
    line-height: 20px;
  }

  .slider__range {
    width: 425px;
    height: 7px;
    background-color: $border-color-alt;
    border-radius: 5px;
  }

  .slider__button {
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted #bebebe;
    color: $black;
  }
}

@media (min-width: $desktop) {
  .slider__item {
    top: -155px;
    left: -60px;
    width: 636px;
  }

  .slider__controls {
    margin-top: 365px;
  }
}
