.socials__list {
  @include list-reset;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  min-height: 63px;
}

.socials__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #797979;
}
