.socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 17px;
  justify-content: space-around;
  align-items: center;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.socials__link {
  position: relative;

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    @include ie-active-fix;
  }
}

.socials__icon {
  fill: #797979;
}

@media (min-width: $tablet) {
  .socials {
    margin-left: 51px;
  }

  .socials__list {
    justify-content: center;
    padding: 0 25px;
    width: 250px;
  }

  .socials__item {
    margin-right: 21px;
    width: 30px;
    height: 30px;
  }

  .socials__icon {
    width: 23px;
    height: 23px;

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
