@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin form-line($top) {
  &::before {
    content: "";
    position: absolute;
    top: $top;
    width: 800px;
    height: 3px;
    background-color: $green;
  }
}

@mixin full-width-vw {
  margin-left: calc(-100vw / 2 + 280px / 2);
  margin-right: calc(-100vw / 2 + 280px / 2);
}
