*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Oswald-Regular", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: #ffffff;
}

// index

@import "font-stylesheet.scss";
@import "blocks/button.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
@import "blocks/series.scss";
@import "blocks/advantages.scss";
@import "blocks/page-footer.scss";
@import "blocks/socials.scss";
@import "blocks/copyrights.scss";

// catalog

@import "blocks/inner-page.scss";
@import "blocks/products.scss";
@import "blocks/show-all.scss";

// form

@import "blocks/form-page.scss";
@import "blocks/form.scss";

